* {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: underline;
  /* color: #212529; */
}

.bg-black {
  background: #212529;
}

.rounded-btn {
  border-radius: 3em;
  padding: .8em 2.2em;
  text-decoration: none;
  /* border: 1px solid #212529; */
}